/* .active-devices__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: var(--text-color-light);
  margin-bottom: 20px;
} */

.active-devices__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.active-devices__list-item {
  background: var(--button-gradient);
  border: 2px solid var(--text-color-light);
  border-radius: 6px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.active-devices__list-item-title {
  /* font-family: "Open Sans"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-color-dark);
}

.active-devices__list-item__switcher--active {
  width: 42px;
  height: 23.231px;
  position: relative;
}

.active-devices__list-item__switcher-bg {
  width: 42px;
  height: 17px;
  border-radius: 69.231px;
  border: 1.385px solid var(--text-color-light);
  position: absolute;
  background: var(--button-active-gradient);
  border-color: transparent;
}

.active-devices__list-item__switcher-btn {
  width: 23.231px;
  height: 23.231px;
  border-radius: 50%;
  border: 1px solid hsl(220, 2%, 72%);
  background: var(--button-gradient);
  position: absolute;
  top: -15%;
  right: 0;
}
