.devices__main {
  padding: 0 15px;
}

.devices__header {
  margin-bottom: 20px;
}

.devices__header__list {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
}

.devices__header__list-item {
  padding: 6px 12px;
  background-color: var(--text-color-light);
  border-radius: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: var(--icon-color);
}

.devices__header__list-item--selected {
  background-color: var(--button-light-color);
  color: var(--button-color);
}

.devices__add-button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 30px;
  color: var(--icon-color);
}

.devices__add-button-icon {
  stroke: var(--icon-color);
  width: 24px;
  height: 24px;
}

.devices__modal-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.devices__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 600px;
  height: 650px;
  background-color: var(--devices-modal);
  border-radius: 6px;
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 12;
}

.devices__modal-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-color-dark);
}

.devices__list {
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
  overflow-y: auto;
}

.devices__list-item {
  padding: 15px 10px;
  background-color: var(--text-color-light);
  height: 200px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.devices__list-item__image-wrapper {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.devices__list-item__title {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: var(--icon-color);
}

.devices__list-item__button {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid var(--devices-modal);
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.devices__list-item__button:hover {
  background-color: var(--button-color);
  border: none;
  color: var(--text-color-light);
}

.devices__modal__btn-cancel {
  width: 112px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--input);
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.devices__modal__btn-cancel:hover {
  background-color: var(--button-color);
  border: none;
  color: var(--text-color-light);
}

.devices__list-wrapper {
  margin-bottom: 90px;
}

.devices__list-item__buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.devices__list-item__buttons button,
.devices__list-item__buttons a {
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--input);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-color-light);
  cursor: pointer;
}

.devices__list-item__button-details {
  background-color: var(--button-color);
}

.devices__list-item__button-delete {
  background-color: var(--button-delete-color);
}

@media (min-width: 650px) {
  .devices__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
