.footer {
  height: 70px;
  padding: 0 15px;
  background-color: var(--background-color);
  border-top: 1px solid var(--input);
  position: fixed;
  bottom: 0;
  z-index: 11;
  width: 100%;
}

.footer nav {
  height: 100%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.footer__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav--item {
  width: 75px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid transparent;
}

.footer__nav--item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  color: var(--text-color-light);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.footer__nav--item-icon {
  width: 24px;
  height: 24px;
  fill: var(--text-color-light);
  stroke: var(--text-color-light);
}

.footer__nav--item--active {
  border-color: var(--button-color);
}

.footer__nav--item--active .footer__nav--item-link {
  color: var(--button-color);
}

.footer__nav--item--active .footer__nav--item-icon {
  fill: var(--button-color);
  stroke: var(--button-color);
}
