.footer {
  height: 70px;
  padding: 0 15px;
  background-color: #03091f;
  border-top: 1px solid #e0e3e7;
  position: fixed;
  bottom: 0;
  z-index: 11;
  width: 100%;
}

.footer nav {
  height: 100%;
}

.footer__nav {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav--item {
  width: 75px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid transparent;
}

.footer__nav--item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  color: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.footer__nav--item-icon {
  width: 24px;
  height: 24px;
  fill: #fff;
  stroke: #fff;
}

.footer__nav--item--active {
  border-color: #254bec;
}

.footer__nav--item--active .footer__nav--item-link {
  color: #254bec;
}

.footer__nav--item--active .footer__nav--item-icon {
  fill: #254bec;
  stroke: #254bec;
}
