.header {
  height: 291px;
  background: var(--header-color) url(./../images/background-header.png)
    no-repeat 80% 80%;
  background-size: 20%;
  border-radius: 0 0 5% 5%;
  margin-bottom: 30px;
  padding: 10px 15px;
  position: relative;
}

.header__greeting {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-color-light);
}

.header__users__list {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.header__users__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__users__list-item__image-wrapper,
.header__add-user-btn {
  width: 40px;
  height: 40px;
  background-color: var(--users-background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--text-color-dark);
}

.header__users__list-item__image {
  width: 20px;
}

.header__users__list-item__name {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-color-dark);
}

.header__users__list-item--selected .header__users__list-item__image-wrapper {
  background-color: var(--text-color-light);
  border-color: var(--button-color);
}

.header__users__list-item--selected .header__users__list-item__name {
  color: var(--text-color-light);
}

.header__add-user-btn {
  cursor: pointer;
  margin-bottom: 30px;
}

.header__add-user-btn-icon {
  stroke: var(--text-color-dark);
  width: 90%;
  height: 90%;
}

.header-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  bottom: 10px;
}

.header__weather,
.header__date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__weather-icon {
  width: 30px;
  height: 30px;
}

.header__weather-temp,
.header__date-value {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
}

.header__date-icon {
  width: 20px;
  height: 20px;
}
