@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Leckerli+One&family=Open+Sans:wght@400;600;700&family=Source+Sans+3&display=swap");

@import url(global.css);
@import url(header.css);
@import url(footer.css);
@import url(rooms.css);
@import url(devices.css);
@import url(settings.css);

/* main {
  padding: 0 15px;
}

.main__header {
  margin-bottom: 30px;
}

.main--title {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}

.main__btn-add-room {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.main__btn-add-room--icon {
  fill: #242127;
  width: 24px;
  height: 24px;
}

.add-room-modal-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.add-room-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  max-width: 600px;
  height: 250px;
  background-color: #fff;
  border-radius: 6px;
  padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.modal--title {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #424242;
}

.modal--input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #e0e3e7;
  outline: none;
  padding: 5px;
}

.modal__buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal__buttons button {
  width: 112px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #e0e3e7;
  background-color: transparent;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.modal__buttons button:hover {
  background-color: #254bec;
  border: none;
  color: #fff;
}

.main__rooms {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.rooms--item {
  width: 100%;
  position: relative;
}

.room--item--title {
  position: absolute;
  margin: auto;
  top: 20px;
  left: 20px;
  bottom: 0;
  right: 0;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  z-index: 2;
}

.room--item--image {
  width: 100%;
  border-radius: 1px 40px 1px 40px;
  filter: opacity(50%);
} */
