.settings__header {
  /* display: flex; */
  margin-bottom: 20px;
}

.settings__header__devices-list {
  margin-bottom: 25px;
}

.settings__header__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__header--title {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 10px;
}

.settings__header--switcher {
  width: 42px;
  height: 23.231px;
  position: relative;
}

.switcher-background {
  width: 42px;
  height: 17px;
  border-radius: 69.231px;
  /* background: linear-gradient(#0051e3 0%, #0adff4 100%); */
  background: linear-gradient(180deg, #bdbdbd 0%, #dfe0e4 100%);
  border: 1.385px solid #fff;
  position: absolute;
}

.switcher-button {
  width: 23.231px;
  height: 23.231px;
  border-radius: 50%;
  background: linear-gradient(180deg, #dfe0e4 0%, #fefefe 100%);
  position: absolute;
  top: -15%;
  left: 0;
}

.switcher-button--active {
  width: 23.231px;
  height: 23.231px;
  border-radius: 50%;
  background: linear-gradient(180deg, #dfe0e4 0%, #fefefe 100%);
  position: absolute;
  top: -15%;
  right: 0;
}

.settings__header--battery {
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
}

.settings {
}

.lamp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.lamp__img-container {
  width: 100px;
}

.lamp-img {
  width: 100%;
}

.lamp-icon {
  height: 100px;
  width: 100px;
  opacity: 0.5;
}

.lamp__settings {
  max-width: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lamp__settings__colors {
}

.lamp__settings__colors-title,
.lamp__settings__brightness-title {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #ababab;
  margin-bottom: 15px;
}

.lamp__settings__colors__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lamp__settings__colors__button {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
}

.lamp__settings__colors__button--selected {
  width: 30px;
  height: 30px;
}

.button-blue {
  background-color: #254bec;
}

.button-white {
  background-color: #fff;
}

.button-yellow {
  background-color: #ffc600;
}

.lamp__settings__brightness {
}

.lamp__settings__brightness-title {
}

.lamp__settings__brightness-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lamp__settings__brightness-controls button {
  width: 30px;
  height: 30px;
  border-radius: 12px;
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-icon {
  width: 90%;
  height: 90%;
  stroke: #424242;
}

.lamp__settings__brightness-less {
}

.lamp__settings__brightness-more {
}

.lamp__settings__brightness-info {
  font-family: "Open Sans";
  color: #fff;
  font-size: 20px;
}

.condition {
  margin-bottom: 80px;
}

.condition__value-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.condition__value {
  width: 110px;
  height: 110px;
  background-color: #dfe0e4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.condition__value::before {
  content: "";
  background-image: url(./../images/settings/condition-temp-bg.png);
  background-size: 150px 150px;
  position: absolute;
  width: 150px;
  height: 150px;
  top: -19%;
  left: -19%;
}

.condition__value-temp {
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  color: #424242;
}

.condition__controls {
  display: flex;
  gap: 30px;
}

.condition__controls button {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  border: none;
}

.condition__controls-button-less {
}

.condition__controls-button-more {
}

.condition__controls-button-icon {
  width: 28px;
  height: 28px;
  stroke: #424242;
}

.condition__controls button:hover {
  background-color: #0051e3;
}

.condition__controls button:hover .condition__controls-button-icon {
  stroke: #fff;
}

.condition-modes {
  display: flex;
  justify-content: space-between;
}

.condition-mode {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  border: 2px solid #dfe0e4;
  background: linear-gradient(180deg, #dfe0e4 0%, #fff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.condition-mode-icon {
  width: 24px;
  height: 24px;
}

.cool-icon {
  fill: #424242;
}

.hot-icon {
  stroke: #424242;
  fill: transparent;
}

.auto-icon {
  stroke: #424242;
  fill: transparent;
}

.condition-mode-title {
  color: #424242;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.condition-mode:hover,
.condition-mode--selected {
  background: linear-gradient(180deg, #0051e3 0%, #0adff4 100%);
}

.condition-mode:hover .condition-mode-title,
.condition-mode--selected .condition-mode-title {
  color: #fff;
}

.condition-mode:hover .cool-icon,
.condition-mode--selected .cool-icon {
  fill: #fff;
}

.condition-mode:hover .hot-icon,
.condition-mode:hover .auto-icon,
.condition-mode--selected .hot-icon,
.condition-mode--selected .auto-icon {
  stroke: #fff;
}

.coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}

.coffee-img {
  width: 200px;
  margin-bottom: 30px;
}

.coffee-drinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.coffee-drink {
  height: 220px;
  width: 140px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.coffee-drink-img-wrapper {
  height: 100px;
}

.coffee-drink-img {
  height: 100%;
}

.coffee-drink-title {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.coffee-drink-button {
  font-family: "Open Sans";
  /* width: 70px; */
  height: 30px;
  padding: 0 20px;
  border-radius: 8px;
  border: 1px solid #e0e3e7;
  background-color: transparent;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.tv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}

.tv__programms {
}

.tv__programms-title,
.tv__settings__volume-title,
.tv__settings__controls-title {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #ababab;
  margin-bottom: 20px;
}

.tv__programms__list {
  list-style: none;
}

.tv__programms__list-item {
  background-color: #fff;
  border: 2px solid #dfe0e4;
  border-radius: 10px;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #424242;
  padding: 5px 20px;
  margin-bottom: 5px;
}

.tv__programms__list-item:hover,
.tv__programms__list-item--selected {
  background: linear-gradient(180deg, #0051e3 0%, #0adff4 100%);
  color: #fff;
}

.tv__settings {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tv__settings__volume {
}

.tv__settings__volume-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tv__settings__volume-bar-button,
.tv__settings__controls-button {
  width: 30px;
  height: 30px;
  border-radius: 12px;
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv__settings__volume-bar-icon,
.tv__settings__controls-icon {
  width: 90%;
  height: 90%;
  stroke: #424242;
}

.control-prev svg {
  transform: rotate(180deg);
}

.tv__settings__volume-bar-value {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.tv__settings__controls {
}

.tv__settings__controls-container {
  display: flex;
  justify-content: space-between;
}

.mode-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 100px;
}

.mode-item {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 12px;
  border: 2px solid var(--strock-2, #dfe0e4);
}

.mode-item__img-wrapper {
  /* width: 100px; */
  width: 100%;
}

.mode-item__img {
  width: 100%;
}

.mode-item-title {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.mode-item:hover,
.mode-item--selected {
  background: linear-gradient(180deg, #0051e3 0%, #0adff4 100%);
}

.mode-item:hover .mode-item-title,
.mode-item--selected .mode-item-title {
  color: #fff;
}

.oven {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  align-items: center;
}

.oven__modes {
}

.oven__modes-title,
.oven__settings__temp-title,
.oven__settings__light-title {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #ababab;
  margin-bottom: 20px;
}

.oven__mode-list {
  list-style: none;
}

.oven-mode-item {
  background-color: #fff;
  border: 2px solid #dfe0e4;
  border-radius: 10px;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #424242;
  padding: 5px 20px;
  margin-bottom: 5px;
}

.oven-mode-item:hover,
.oven-mode-item--selected {
  background: linear-gradient(180deg, #0051e3 0%, #0adff4 100%);
  color: #fff;
}

.oven__settings {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.oven__settings__temp {
}

.oven__settings__temp_controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.oven__settings__temp-btn {
  width: 30px;
  height: 30px;
  border-radius: 12px;
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #dfe0e4;
}

.oven__settings__temp-btn:hover {
  background: linear-gradient(180deg, #0051e3 0%, #0adff4 100%);
}

.oven__settings__temp-btn-icon {
  width: 90%;
  height: 90%;
  stroke: #424242;
}

.oven__settings__temp-btn:hover .oven__settings__temp-btn-icon {
  stroke: #fff;
}

.oven__settings__temp-value {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.oven__setings__light {
}

.oven__settings__light-button {
  background-color: #fff;
  border: 2px solid #dfe0e4;
  border-radius: 10%;
  padding: 5px 15px;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #424242;
}

.oven__settings__light-button:hover,
.oven__settings__light-button--active {
  background: linear-gradient(180deg, #0051e3 0%, #0adff4 100%);
  color: #fff;
}

.loud {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loud-img {
  width: 200px;
  margin: 0 auto;
}

.loud__volume {
  width: 100%;
}

.loud__volume-title {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #ababab;
  margin-bottom: 20px;
}

.loud__volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loud__volume-button {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #424242;
  border: 2px solid #dfe0e4;
}

.loud__volume-button:hover,
.loud__volume-button--selected {
  background: linear-gradient(180deg, #0051e3 0%, #0adff4 100%);
  color: #fff;
}

.loud__volume-button-icon {
  width: 50px;
  height: 50px;
  fill: #424242;
}

.loud__volume-button:hover .loud__volume-button-icon,
.loud__volume-button--selected .loud__volume-button-icon {
  fill: #fff;
}

.loud__volume-value {
  font-family: "Open Sans";
  color: #fff;
  font-size: 40px;
}

.cooker {
}

.cooker__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 100px;
}

.cooker__list-item {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 12px;
  border: 2px solid #dfe0e4;
}

.cooker__list-item:hover,
.cooker__list-item--selected {
  background: linear-gradient(180deg, #0051e3 0%, #0adff4 100%);
}

.cooker__list-item-img-wrapper {
  width: 100%;
}

.cooker__list-item-img {
  width: 100%;
}

.cooker__list-item-title {
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.cooker__list-item:hover .cooker__list-item-title,
.cooker__list-item--selected .cooker__list-item-title {
  color: #fff;
}

.washing {
  background-color: #fff;
  border: 2px solid #0051e3;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  position: relative;
  margin: auto;
  /* background-image: url(./../images/settings/condition-temp-bg.png); */
}

.washing::before {
  content: "";
  background-image: url(./../images/settings/condition-temp-bg.png);
  background-size: 277px 277px;
  position: absolute;
  width: 277px;
  height: 277px;
  top: 0;
  left: 0;
}

.washing__pointer {
  /* border: 2px solid #424242; */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.washing__pointer-img {
  width: 80%;
  height: 80%;
}

.washing__list {
  list-style: none;
}

.washing__list-item {
  background-color: #fff;
  border: 2px solid #dfe0e4;
  border-radius: 10px;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #424242;
  padding: 0 5px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 5px;
}

.washing__list-item:hover,
.washing__list-item--selected {
  background: linear-gradient(180deg, #0051e3 0%, #0adff4 100%);
  color: #fff;
}

.hand-wash {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quick-wash {
  right: -10px;
  top: 50px;
}

.sport {
  right: -10px;
  bottom: 50px;
}

.cotton {
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.soft-wash {
  left: -10px;
  bottom: 50px;
}

.shoes {
  left: -10px;
  top: 50px;
}

.washing__list-item-icon {
  width: 20px;
  height: 20px;
  fill: #424242;
  stroke: #424242;
}

.washing__list-item:hover .washing__list-item-icon,
.washing__list-item--selected .washing__list-item-icon {
  fill: #fff;
  stroke: #fff;
}

.default-device {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 100px;
}

.default-device__img {
  /* height: 200px; */
  width: 200px;
}

.default-device__wrapper {
  width: 100%;
}

.default-device-subtitle {
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #ababab;
  margin-bottom: 15px;
}

.default-device__powers {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.default-device__power {
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #424242;
  border: 2px solid #dfe0e4;
}

.default-device__power:hover,
.default-device__power--selected {
  background: linear-gradient(180deg, #0051e3 0%, #0adff4 100%);
  color: #fff;
}
