.settings__header {
  /* display: flex; */
}

.settings__header__devices-list {
  margin-bottom: 25px;
}

.settings__header__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings__header--title {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 10px;
}

.settings__header--switcher {
  width: 42px;
  height: 23.231px;
  position: relative;
}

.switcher-background {
  width: 42px;
  height: 17px;
  border-radius: 69.231px;
  /* background: linear-gradient(#0051e3 0%, #0adff4 100%); */
  background: linear-gradient(180deg, #bdbdbd 0%, #dfe0e4 100%);
  border: 1.385px solid #fff;
  position: absolute;
}

.switcher-button {
  width: 23.231px;
  height: 23.231px;
  border-radius: 50%;
  background: linear-gradient(180deg, #dfe0e4 0%, #fefefe 100%);
  position: absolute;
  top: -15%;
  left: 0;
}

.switcher-button--active {
  width: 23.231px;
  height: 23.231px;
  border-radius: 50%;
  background: linear-gradient(180deg, #dfe0e4 0%, #fefefe 100%);
  position: absolute;
  top: -15%;
  right: 0;
}

.settings__header--battery {
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
}
